{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include './Components/section1.html.twig' %}
    <hr>
    <div class="container-fluid">
        <div class="online-doctor">
            <div class="row justify-content-between">
                <div class="content shadow col-md-3 pt-3">
                    <span class="text-center"><i class="fa fa-stethoscope"></i></span>
                    <h5 class="text-muted text-center">Si vous etes Medecin, votre place est ici</h5>
                    <button class="btn btn-outline-success">Clickez Ici</button>
                </div>
                <div class="content shadow col-md-3 pt-3">
                    <span class="text-center"><i class="fa fa-envelope"></i></span>
                    <h5 class="text-muted text-center">Nous avons les meilleurs medecin</h5>
                    <button class="btn btn-outline-success">Clickez Ici</button>
                </div>
                <div class="content shadow col-md-3 pt-3">
                    <span class="text-center"><i class="fa fa-user"></i></span>
                    <h5 class="text-muted text-center">Devenez membre de cette grande famille</h5>
                    <button class="btn btn-outline-success">Clickez Ici</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="title">
        <h4 class="section-title">Actualites</h4>
    </div>
    <section class="actualites">
        <div class="container">
            <div class="row">
                {% for actualite in actualite %}
                <div class="col-md-4">
                    <div class="card-news">
                        <img src="{{ vich_uploader_asset( actualite, 'imageFile')}}" alt="image"
                             class="img-fluid text-center">
                        <div class="content pt-3">
                            <p>{{ actualite.resume|raw }}
                                <a href="{{ path('news_show', {'slug': actualite.slug}) }}">Lire la suite</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <hr>
    <div class="title">
        <h4 class="section-title">Medecins</h4>
    </div>

    <div class="footer bg-dark">
        <div class="container p-2">
            <div class="row justify-content-center">
                <div class="speciality">
                    <h6>Gynecologie</h6>
                </div>
                <div class="speciality">
                    <h6>Obstetrique</h6>
                </div>
                <div class="speciality">
                    <h6>Chirurgie</h6>
                </div>
                <div class="speciality">
                    <h6>Orthopedie</h6>
                </div>
                <div class="speciality">
                    <h6>Ophtalmologie</h6>
                </div>
                <div class="speciality">
                    <h6>Pediatrie</h6>
                </div>
                <div class="speciality">
                    <h6>Medecine Generale</h6>
                </div>
            </div>
        </div>
        <p class="text-center">&#169 Copyright 2020</p>
    </div>
{% endblock %}
