{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashboard Omedup' %}

{% block page_content %}
   <p>Admin</p>
{% endblock %}
