<div class="row pt-3">
    <div class="col-md-12">
        <div class="meta-profil">
            <div class="meta bg-info"><a href="#" class="text-white">
                    <i class="fa fa-stethoscope"> Medecins</i></a>
            </div>
            <div class="meta bg-info"><a href="#" class="text-white">
                    <i class="fa fa-clinic-medical"> Hopitals</i></a>
            </div>
            <div class="meta bg-info"><a href="#" class="text-white">
                    <i class="fa fa-prescription"> Pharmacie</i></a>
            </div>
            <div class="meta bg-info"><a href="#" class="text-white">
                    <i class="fa fa-pump-medical"> Laboratoire</i></a>
            </div>
            <div class="meta bg-info"><a href="#" class="text-white">
                    <i class="fa fa-ambulance"> Urgences</i></a>
            </div>

        </div>
    </div>