<div class="row p-3">
    <div class="col-md-4">
        <div class="bg-light border rounded p-2">
            <h5 class="text-center">Dernieres Examens</h5>
            <blockote>
                pas de prescrition
            </blockote>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-light border rounded p-2">
            <h5 class="text-center">Dernieres prescriptions</h5>
            <blockote>
                pas de prescrition
            </blockote>
        </div>
    </div>
    <div class="col-md-4">
        <div class="bg-light border rounded p-2">
            <h5 class="text-center">Dernieres Recommendation</h5>
            <blockote>
                pas de prescrition
            </blockote>
        </div>
    </div>
</div>