.wrapper{
  .log-button{
    color: #444444;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
  }
  .meta-log{
    margin: 4px;
    display: flex;
    justify-content: space-between;
    a{
      text-align: end;
      font-weight: bold;
      color: #000000;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('bg1.jpg');
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 100vh;
  .login-form{
    width: 40%;
    padding: 2rem;
    background-color: rgba(223, 227, 241, 0.45);
    border-radius: 5px;
    h1{
      text-align: center;
      color: #012625;
      position: relative;
      margin-bottom: 20px;
    }
    h1:after{
      content: "";
      background: #FFFFFF;
      width: 7rem;
      position: absolute;
      top: 3.5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
    }
    label{
      color: #012625;
      font-weight: bold;
    }
  }
  .signup-form{
    width: 60%;
    padding: 2rem;
    background-color: rgba(223, 227, 241, 0.45);
    border-radius: 5px;
    h1{
      text-align: center;
      color: #012625;
      position: relative;
      margin-bottom: 20px;
    }
    h1:after{
      content: "";
      background: #FFFFFF;
      width: 7rem;
      position: absolute;
      top: 3.5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
    }
    label{
      color: #012625;
      font-weight: bold;
    }
  }
  button{
    background-color: #FFFFFF;
    outline-color: #0d5e42;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    margin: auto;
    .login-form {
      width: 90%;
    }
    .signup-form{
      width: 90%;
    }
  }
}

.note
{
  text-align: center;
  height: 80px;
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
}
.form-content
{
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}
.form-control{
  border-radius:1.5rem;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: #0062cc;
  color: #444444;
}