{% extends 'user/user_home.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <table class="table table-striped" id="table_message" data-path="">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Statut</th>
            <th scope="col">Message</th>
            <th scope="col">date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Default</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
