<section class="section1">
    <div class="search">
        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
    <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-white"
                                                                      aria-hidden="true"></i></span>
            </div>
            <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="specialities">
        <div class="speciality">
            <h4>Ophtalmologie</h4>
        </div><div class="speciality">
            <h4>Gynecologie</h4>
        </div><div class="speciality">
            <h4>Dermatologie</h4>
        </div><div class="speciality">
            <h4>Urologie</h4>
        </div><div class="speciality">
            <h4>Medecine Interne</h4>
        </div>
        <div class="speciality">
            <h4>Orthopedie</h4>
        </div>
    </div>
</section>