{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="container-fluid p-3">
        <div class="row border-top">
            <div class="col-md-3 mt-2 border-right">
                {% include 'user/Components/left.html.twig' %}
            </div>
            <div class="col-md-9">
                {% block main %}
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-info"><i class="fa fa-book-medical"></i> Dashboard</h3>
                    </div>
                </div>
                {% block content %}
                <div class="profil border-top pb-2">
                    {% include 'user/Components/list_functionality_top.htm.twig' %}
                </div>
                <hr>

                {% include 'user/Components/personal_list.html.twig' %}
                <hr>
                {% include 'user/Components/list_fonctionality_left.html.twig' %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
